openapi: 3.2.0
info:
  title: Deployxa Deployments API
  version: 1.0.0
  description: Versioned REST API. Stable operations are under /api/v1; breaking changes use a new path version. Deprecated operations announce Deprecation and Sunset headers.
servers:
- url: https://deployxa.com/api/v1
tags:
- name: Deployments
paths:
  /deployments:
    post:
      summary: Create a deployment
      x-payment-info:
        intent: charge
        method: stripe
        amount: '1.00'
        currency: USD
        description: Deployment execution
      operationId: createDeployment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDeploymentRequest'
      responses:
        '201':
          description: Deployment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
        '400':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      tags:
      - Deployments
components:
  responses:
    Error:
      description: API error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Deployment:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
    Error:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: object
          additionalProperties: true
    CreateDeploymentRequest:
      type: object
      required:
      - projectId
      properties:
        projectId:
          type: string
        branch:
          type: string
x-service-info:
  categories:
  - cloud deployment
  - application hosting
  - developer tools
