{"openapi":"3.0.3","info":{"title":"Deployxa API","version":"1.0.0","description":"Versioned REST API. Stable operations are under /api/v1; breaking changes use a new path version. Deprecated operations announce Deprecation and Sunset headers."},"servers":[{"url":"https://deployxa.com/api/v1"}],"paths":{"/projects":{"post":{"summary":"Create a project","x-payment-info":{"intent":"charge","method":"stripe","amount":"1.00","currency":"USD","description":"Project provisioning"},"operationId":"createProject","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateProjectRequest"}}}},"responses":{"201":{"description":"Project created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Project"}}}},"400":{"$ref":"#/components/responses/Error"},"500":{"$ref":"#/components/responses/Error"}}}},"/deployments":{"post":{"summary":"Create a deployment","x-payment-info":{"intent":"charge","method":"stripe","amount":"1.00","currency":"USD","description":"Deployment execution"},"operationId":"createDeployment","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDeploymentRequest"}}}},"responses":{"201":{"description":"Deployment created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Deployment"}}}},"400":{"$ref":"#/components/responses/Error"},"500":{"$ref":"#/components/responses/Error"}}}}},"components":{"schemas":{"Error":{"type":"object","required":["code","message"],"properties":{"code":{"type":"string"},"message":{"type":"string"},"details":{"type":"object","additionalProperties":true}}},"CreateProjectRequest":{"type":"object","required":["name","repositoryUrl"],"properties":{"name":{"type":"string"},"repositoryUrl":{"type":"string","format":"uri"},"branch":{"type":"string"}}},"CreateDeploymentRequest":{"type":"object","required":["projectId"],"properties":{"projectId":{"type":"string"},"branch":{"type":"string"}}},"Project":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"status":{"type":"string"}}},"Deployment":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string"}}}},"responses":{"Error":{"description":"API error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"x-service-info":{"categories":["cloud deployment","application hosting","developer tools"]}}